.navbar {
    background-color: #333;
    padding: 1% 5%;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 5%; 
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 120%;
}

.navbar ul li a:hover {
    color: #f1f1f1;
    box-shadow: greenyellow 0px 2px 0px;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 5%; 
    padding: 5%; 
}

.profile-info img {
    width: 30%; 
    height: auto;
    border-radius: 50%;
}

.profile-details h2 {
    font-size: 150%;
    color: #555;
}

.profile-details h1 {
    font-size: 250%;
    color: #333;
}

section {
    padding: 5%; 
}

.info-paragraph {
    box-shadow: 1px 1px 5px #d8d6d6;
    padding: 5%;
    text-align: center;
}

h2 {
    font-size: 200%;
    color: #444;
}

p {
    font-size: 120%;
    color: #666;
}

.coding-languages-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 5%;
    flex-wrap: wrap;
}

.coding-languages-list a{
    text-decoration: none;
}

.coding img {
    width: 100px;
    height: auto;
    box-shadow: 1px 1px 5px #d8d6d6;
}

.coding:hover {
    box-shadow: 1px 1px 5px #333;
}
