.navbar {
    background-color: #333;
    padding: 1% 5%;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 5%; 
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 120%;
}

.navbar ul li a:hover {
    color: #f1f1f1;
    box-shadow: greenyellow 0px 2px 0px;
}